Package: me.luki.perfectspotify
Name: PerfectSpotify
Version: 2.3~EOL
Architecture: iphoneos-arm
Description: Spotify, but "perfect"
Maintainer: Luki
Author: Luki
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, com.mrgcgamer.libgcuniversal, love.litten.libkitten
