<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Gradients</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>gradientColors</string>
			<key>label</key>
			<string>Enable Klei Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>enableTextColor</string>
			<key>label</key>
			<string>Enable Text Color</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>enableTintColor</string>
			<key>label</key>
			<string>Enable Tint Color</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>enableBackgroundUIColor</string>
			<key>label</key>
			<string>Enable Now Playing UI Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcColorPickerCell</string>
			<key>label</key>
			<string>Text Color</string>
			<key>defaults</key>
			<string>com.perfect.spotifycolors</string>
			<key>key</key>
			<string>tintTextColor</string>
			<key>supportsAlpha</key>
			<true/>
			<key>fallback</key>
			<string>ffffff</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcColorPickerCell</string>
			<key>label</key>
			<string>Tint Color</string>
			<key>defaults</key>
			<string>com.perfect.spotifycolors</string>
			<key>key</key>
			<string>tintColor</string>
			<key>supportsAlpha</key>
			<true/>
			<key>fallback</key>
			<string>ffffff</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcColorPickerCell</string>
			<key>label</key>
			<string>Background Color</string>
			<key>defaults</key>
			<string>com.perfect.spotifycolors</string>
			<key>key</key>
			<string>backgroundUIColor</string>
			<key>supportsAlpha</key>
			<true/>
			<key>fallback</key>
			<string>ffffff</string>
		</dict>
	</array>
	<key>title</key>
	<string>PerfectSpotify</string>
</dict>
</plist>