<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>blackoutModeEnabled</string>
			<key>label</key>
			<string>Blackout</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>hideDevicesButton</string>
			<key>label</key>
			<string>Hide Devices Button</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>hideCloseButton</string>
			<key>label</key>
			<string>Hide Close Button</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>hidePlaylistNameText</string>
			<key>label</key>
			<string>Hide Playlist Name</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>hideContextMenuButton</string>
			<key>label</key>
			<string>Hide Context Button</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>hideQueueButton</string>
			<key>label</key>
			<string>Hide Queue Button</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>hideLikeButton</string>
			<key>label</key>
			<string>Hide Like Button</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>hideShuffleButton</string>
			<key>label</key>
			<string>Hide Shuffle Button</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>hideRepeatButton</string>
			<key>label</key>
			<string>Hide Repeat Button</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>hideArtistSongText</string>
			<key>label</key>
			<string>Hide Artist/Song Text</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>hideTimeSlider</string>
			<key>label</key>
			<string>Hide Time Slider</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>hideElapsedTime</string>
			<key>label</key>
			<string>Hide Elapsed Time</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>hideRemainingTime</string>
			<key>label</key>
			<string>Hide Remaining Time</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>centerText</string>
			<key>label</key>
			<string>Center Artist/Song Title</string>
		</dict>
	</array>
	<key>title</key>
	<string>PerfectSpotify</string>
</dict>
</plist>
