<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Customization</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>MiscellaneousRootListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Miscellaneous</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>NowPlayingUIRootListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Now Playing UI</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>CarModeUIRootListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Car Mode UI</string>
		</dict>
      <dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>PodcastsUIRootListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Podcasts UI</string>
		</dict>
      <dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LyricsUIRootListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Lyrics UI</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColorsRootListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SearchPageRootListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Search Page</string>
		</dict>

      <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Respring to apply changes is NOT necessary</string>
			<key>isStaticText</key>
			<true/>
		</dict>
      <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetPrompt</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Reset Preferences</string>
		</dict>

      <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
 			<key>label</key>
 			<string>Contributors</string>
 			<key>detail</key>
 			<string>ContributorsRootListController</string>
 			<key>SPTContributors</key>
 			<string>Contributors</string>
 		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Can I Use Native Lyrics?</string>
			<key>subtitle</key>
			<string>Check this post</string>
			<key>url</key>
			<string>https://techcrunch.com/2020/06/29/in-a-significant-expansion-spotify-to-launch-real-time-lyrics-in-26-markets/</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate To Luki</string>
			<key>subtitle</key>
			<string>Appreciated 🥰</string>
			<key>url</key>
			<string>https://paypal.me/Luki120</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>subtitle</key>
			<string>GitHub 🔥</string>
			<key>url</key>
			<string>https://github.com/Luki120/PerfectSpotify</string>
		</dict>
		<dict>
			<key>action</key>
			<string>myReddit:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Reddit</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<real>1</real>
			<key>footerText</key>
			<string>made by Luki with ❤️</string>
			<key>isStaticText</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>PerfectSpotify</string>
</dict>
</plist>
