<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	<dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>hideCancelButton</string>
			<key>label</key>
			<string>Hide Cancel Button</string>
		</dict>
       <dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>unclutterSearchPage</string>
			<key>label</key>
			<string>Unclutter Me Please</string>
		</dict>
		 <dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>hidePlayWhatYouLoveText</string>
			<key>label</key>
			<string>Hide Play What You Love Text</string>
   		</dict>
             <dict>
			<key>PostNotification</key>
			<string>com.perfect.spotify/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.perfect.spotify</string>
			<key>key</key>
			<string>hideClearRecentSearchesButton</string>
			<key>label</key>
			<string>Hide Clear Recent Searches Button</string>
		</dict>
	</array>
	<key>title</key>
	<string>PerfectSpotify</string>
</dict>
</plist>