<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Homepage</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>oledSpotify</string>
				<key>label</key>
				<string>OLED Spotify</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideTabBarLabels</string>
				<key>label</key>
				<string>Hide Tab Bar Labels</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideConnectButton</string>
				<key>label</key>
				<string>Hide Connect Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideTabBarPlayButton</string>
				<key>label</key>
				<string>Hide Tab Bar Play Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Search Page</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideCancelButton</string>
				<key>label</key>
				<string>Hide Cancel Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hidePlayWhatYouLoveText</string>
				<key>label</key>
				<string>Hide Play What You Love Label</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideClearRecentSearchesButton</string>
				<key>label</key>
				<string>Hide Clear Recent Searches Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Playlists</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideAddSongsButton</string>
				<key>label</key>
				<string>Hide Add Songs Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideQueuePopUp</string>
				<key>label</key>
				<string>No Pop-Up When Queuing</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>noPopUp</string>
				<key>label</key>
				<string>No Pop-Up When Liking Songs</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Miscellaneous</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>trueShuffle</string>
				<key>label</key>
				<string>True Shuffle</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>showStatusBar</string>
				<key>label</key>
				<string>Show Status Bar</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>disableStorylines</string>
				<key>label</key>
				<string>Disable Storylines</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>enableLyricsForAllTracks</string>
				<key>label</key>
				<string>Lyrics For All Tracks</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>disableGeniusLyrics</string>
				<key>label</key>
				<string>Disable Genius Lyrics</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideRemoveButton</string>
				<key>label</key>
				<string>Hide Remove Button (Daily Mix)</string>
			</dict>
		</array>
		<key>title</key>
		<string>PerfectSpotify</string>
	</dict>
</plist>
