<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Background UI</string>
				<key>footerText</key>
				<string>Artwork based gradient colors.</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>enableKleiColors</string>
				<key>label</key>
				<string>Enable Klei Colors</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>enableNowPlayingUIBGColor</string>
				<key>label</key>
				<string>Enable Custom BG Color</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>GcColorPickerCell</string>
				<key>label</key>
				<string>Background Color</string>
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>nowPlayingUIBGColor</string>
				<key>supportsAlpha</key>
				<true/>
				<key>fallback</key>
				<string>000000</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Now Playing UI</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideCloseButton</string>
				<key>label</key>
				<string>Hide Close Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hidePlaylistNameText</string>
				<key>label</key>
				<string>Hide Playlist Name</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideContextMenuButton</string>
				<key>label</key>
				<string>Hide Context Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideLikeButton</string>
				<key>label</key>
				<string>Hide Like Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideSliderKnob</string>
				<key>label</key>
				<string>Hide Slider Knob</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideTimeSlider</string>
				<key>label</key>
				<string>Hide Time Slider</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideElapsedTime</string>
				<key>label</key>
				<string>Hide Elapsed Time</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideRemainingTime</string>
				<key>label</key>
				<string>Hide Remaining Time</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideShuffleButton</string>
				<key>label</key>
				<string>Hide Shuffle Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hidePreviousTrackButton</string>
				<key>label</key>
				<string>Hide Previous Track Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hidePlayPauseButton</string>
				<key>label</key>
				<string>Hide Play/Pause Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideNextTrackButton</string>
				<key>label</key>
				<string>Hide Next Track Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideRepeatButton</string>
				<key>label</key>
				<string>Hide Repeat Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideDevicesButton</string>
				<key>label</key>
				<string>Hide Devices Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideFeedbackButton</string>
				<key>label</key>
				<string>Hide Feedback Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideShareButton</string>
				<key>label</key>
				<string>Hide Share Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideQueueButton</string>
				<key>label</key>
				<string>Hide Queue Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Podcasts UI</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideSpeedButton</string>
				<key>label</key>
				<string>Hide Speed Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideBackButton</string>
				<key>label</key>
				<string>Hide Back Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideForwardButton</string>
				<key>label</key>
				<string>Hide Forward Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>me.luki.perfectspotifyprefs</string>
				<key>key</key>
				<string>hideMoonButton</string>
				<key>label</key>
				<string>Hide Moon Button</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>ExtraFeaturesVC</string>
				<key>isController</key>
				<true/>
				<key>label</key>
				<string>++ Features</string>
			</dict>
		</array>
		<key>title</key>
		<string>PerfectSpotify</string>
	</dict>
</plist>
