<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Lead Developer</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>cellClass</key>
				<string>GcTwitterCell</string>
				<key>accountLabel</key>
				<string>Luki120</string>
				<key>account</key>
				<string>Lukii120</string>
				<key>URL</key>
				<string>https://avatars.githubusercontent.com/u/74214115?v=4</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Inspiration to dig into tweak development, help With OLED dark mode, credits for the Klei colors and preference panel idea</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>cellClass</key>
				<string>GcTwitterCell</string>
				<key>accountLabel</key>
				<string>Litten</string>
				<key>account</key>
				<string>schneelittchen</string>
				<key>URL</key>
				<string>https://avatars.githubusercontent.com/u/83172201?v=4</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Overall Help With The Tweak</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>cellClass</key>
				<string>GcTwitterCell</string>
				<key>accountLabel</key>
				<string>ETHN</string>
				<key>account</key>
				<string>EthanWhited</string>
				<key>URL</key>
				<string>https://avatars.githubusercontent.com/u/41249541?v=4</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>cellClass</key>
				<string>GcTwitterCell</string>
				<key>accountLabel</key>
				<string>MTAC</string>
				<key>account</key>
				<string>MTAC8</string>
				<key>URL</key>
				<string>https://avatars.githubusercontent.com/u/13209789?v=4</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Help with implementing the align the text to the top option</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>cellClass</key>
				<string>GcTwitterCell</string>
				<key>accountLabel</key>
				<string>RuntimeOverflow</string>
				<key>account</key>
				<string>RuntimeOverflow</string>
				<key>URL</key>
				<string>https://avatars.githubusercontent.com/u/38386956?v=4</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Help with implementing libsparkcolourpicker at the time</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>cellClass</key>
				<string>GcTwitterCell</string>
				<key>accountLabel</key>
				<string>Azzou</string>
				<key>account</key>
				<string>AzzouDuGhetto</string>
				<key>URL</key>
				<string>https://avatars.githubusercontent.com/u/60717896?v=4</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Special thanks</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>cellClass</key>
				<string>GcTwitterCell</string>
				<key>accountLabel</key>
				<string>SouthernGirlWhoCode</string>
				<key>account</key>
				<string>SouthGalWhoCode</string>
				<key>URL</key>
				<string>https://pbs.twimg.com/profile_images/1433736955070722072/UdUjX5Rq_400x400.jpg</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Testers</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>cellClass</key>
				<string>GcTwitterCell</string>
				<key>accountLabel</key>
				<string>Denial</string>
				<key>account</key>
				<string>danielpan1234</string>
				<key>URL</key>
				<string>https://avatars.githubusercontent.com/u/56142819?v=4</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>cellClass</key>
				<string>GcTwitterCell</string>
				<key>accountLabel</key>
				<string>AlphaStream</string>
				<key>account</key>
				<string>Kutarin_</string>
				<key>URL</key>
				<string>https://pbs.twimg.com/profile_images/1402096100006264832/TRwQ2Gv__400x400.jpg</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>Icon by Nightwind, banner by ETHN.</string>
				<key>isStaticText</key>
				<true/>
			</dict>
		</array>
		<key>title</key>
		<string>PerfectSpotify</string>
	</dict>
</plist>
