<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Maybe</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>PSpotifyTableCell</string>
			<key>action</key>
			<string>launchLyricsLink</string>
			<key>label</key>
			<string>Can I Use Native Lyrics?</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>PSpotifyTableCell</string>
			<key>action</key>
			<string>launchPayPal</string>
			<key>label</key>
			<string>Donate To Luki 🥰</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>PSpotifyTableCell</string>
			<key>action</key>
			<string>launchGitHub</string>
			<key>label</key>
			<string>Source Code 🔥</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>You Might Like</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>PSpotifyTableCell</string>
			<key>action</key>
			<string>launchAmelija</string>
			<key>label</key>
			<string>Amēlija</string>
			<key>icon</key>
			<string>Assets/Amēlija@2x.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>PSpotifyTableCell</string>
			<key>action</key>
			<string>launchApril</string>
			<key>label</key>
			<string>April</string>
			<key>icon</key>
			<string>Assets/April@2x.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>Perfect Spotify</string>
</dict>
</plist>
